.about {
  padding-top: 60px;
  padding-bottom: 94px;

  @include vp-1023 {
    padding-top: 38px;
    padding-bottom: 84px;
  }

  @include vp-767 {
    padding-top: 25px;
  }

  @include vp-374 {
    padding-top: 15px;
    padding-bottom: 79px;
  }
}

.about__container {
  display: flex;
  align-items: flex-start;
}

.about__img-wrap {
  flex-shrink: 0;

  @include vp-767 {
    display: none;
  }
}

.about__desc {
  margin-left: 100px;

  @include vp-1023 {
    margin-left: 24px;
  }

  @include vp-374 {
    margin-left: 0;
  }
}

.about__desc h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: $ff-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.42;

  @include vp-767 {
    font-size: 28px;
  }
}

.about__desc p {
  margin-top: 0;
  margin-bottom: 15px;

  @include vp-767 {
    font-size: 14px;
  }

  @include vp-374 {
    margin-bottom: 18px;
    line-height: 19px;
  }
}

.about__text {
  height: 162px;
  overflow: hidden;
  transition: $trans-600;

  @include vp-1023 {
    height: 255px;
  }

  @include vp-767 {
    height: 200px;
  }

  @include vp-374 {
    height: 211px;
  }
}

.about__btn {
  margin-top: 30px;

  @include vp-1023 {
    margin-top: 22px;
  }

  @include vp-374 {
    margin-top: 12px;
  }
}
