.accordion__content {
  @include vp-767 {
    overflow: hidden;
    transition: $trans-default;
  }
}

.accordion__btn {
  @include vp-767 {
    position: relative;
    cursor: pointer;
  }

  &::after,
  &::before {
    @include vp-767 {
      position: absolute;
      right: 0;
      top: 8px;
      content: "";
      display: block;
      width: 15px;
      height: 1px;
      background: #c4c4c4;
    }
  }

  &--close {
    @include vp-767 {
      margin-bottom: 0;
    }
  }

  &--close::after {
    @include vp-767 {
      transform: rotate(90deg);
    }
  }
}
