.accordion__content--close {
  @include vp-767 {
    height: 0;
    overflow: hidden;
  }
}

.accordion__btn {
  @include vp-767 {
    position: relative;
  }

  &::after,
  &::before {
    @include vp-767 {
      position: absolute;
      right: 0;
      top: 8px;
      content: "";
      display: block;
      width: 15px;
      height: 1px;
      background: #c4c4c4;
    }
  }

  &::after {
    @include vp-767 {
      transform: rotate(90deg);
    }
  }
}
