.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;

  &--type-column {
    grid-template-columns: none;
    column-gap: 0;
  }

  @include vp-767 {
    grid-template-columns: none;
    column-gap: 0;
  }
}

.form input[type="text"],
.form input[type="tel"],
.form textarea {
  width: 100%;
  padding: 15px;
  background: rgba($color-black-pearl, 0.15);
  border-radius: 3px;
  border: none;
  color: $color-default-white;
  transition: $trans-default;

  &:hover {
    background: rgba($color-black-pearl, 0.3);
  }

  &:focus {
    outline: 2px solid $color-default-white;
    background: rgba($color-black-pearl, 0.3);
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &:invalid {
    color: $color-red;
    outline: 1px solid $color-red;
    outline-offset: 2px;
  }
}

.form textarea {
  padding-top: 25px;
  padding-bottom: 25px;
  grid-column: 1/-1;
}

.form__error {
  position: absolute;
  z-index: 10;
  display: block;
  padding: 3px 10px;
  margin-top: -7px;
  color: $color-red;
  font-size: 13px;
  line-height: 1.15;
  background-color: $color-default-white;
  border-radius: 3px;

  &--modal {
    z-index: 1001;
  }
}

.form input::placeholder,
.form textarea::placeholder {
  color: rgba($color-default-white, 0.7);
}

.form__control {
  grid-column: 2/3;
  grid-row: 3/4;

  @include vp-767 {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
}

.form--type-column .form__control {
  grid-column: 1/-1;
  grid-row: 5/6;
}

.form__button {
  grid-column: 1/2;

  @include vp-767 {
    grid-column: 1/-1;
    grid-row: 4/5;
  }
}

.form--type-column .form__button {
  grid-column: 1/-1;
  grid-row: 4/5;
}
