.logo {
  display: inline-flex;
  align-items: center;
}

.logo__img {
  margin-right: 15px;
  fill: $color-deep-sky-blue;

  &--header {
    @include vp-767 {
      width: 35px;
      height: 35px;
      margin-right: 0;
    }
  }
}

.logo__text {
  display: flex;
  flex-direction: column;

  &--header {
    @include vp-767 {
      display: none;
    }
  }
}

.logo__desc {
  fill: rgba($color-default-white, 0.7);
  transition: fill $trans-default;
}

.logo__title {
  margin-bottom: 8px;
  fill: $color-alice-blue-text;
  transition: fill $trans-default;
}
