.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 33px;
  padding-bottom: 35px;
  color: $color-alice-blue-text;
  background-image: linear-gradient(180deg, $color-black-pearl 84.9%, rgba($color-black-pearl, 0) 100%);

  @include vp-1023 {
    position: absolute;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  @include vp-374 {
    padding-top: 12px;
    padding-bottom: 18px;
  }
}

.main-header__logo {
  @include vp-1439 {
    margin-right: 30px;
  }
}

.main-header__container {
  display: flex;
  align-items: start;
}

.main-header__contacts {
  margin-left: calc(172 / 1220) *100%;
  margin-right: calc(30 / 1220) *100%;
  flex-grow: 1;

  @include vp-1439 {
    margin-left: auto;
  }

  @include vp-1023 {
    margin-right: calc(20 / 670) *100%;
    margin-left: auto;
  }

  @include vp-767 {
    margin-right: calc(10 / 770) *100%;
  }

  @include vp-374 {
    margin-right: calc(10 / 270) *100%;
  }
}

.main-header__btn {
  margin-left: auto;
  margin-right: calc(60 / 1220) *100%;
  flex-shrink: 0;

  @include vp-1439 {
    margin-right: calc(20 / 1220) *100%;
  }

  @include vp-1023 {
    display: none;
  }
}
