.sections__title {
  margin-bottom: 20px;
  margin-top: 0;
  font-family: $ff-condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.07;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;

  @include vp-767 {
    position: relative;
    margin-bottom: 15px;
  }

  // &::after,
  // &::before {
  //   @include vp-767 {
  //     position: absolute;
  //     right: 0;
  //     top: 8px;
  //     content: "";
  //     display: block;
  //     width: 15px;
  //     height: 1px;
  //     background: #c4c4c4;
  //   }
  // }

  // &::after {
  //   @include vp-767 {
  //     transform: rotate(90deg);
  //   }
  // }
}

.sections__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  align-items: start;

  @include vp-1023 {
    grid-template-columns: none;
    row-gap: 10px;
  }
}

.sections__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: grid;
  row-gap: 10px;
  list-style: none;
}

.sections__link {
  color: rgba($color-default-white, 0.7);
  transition: color $trans-default;

  &:hover {
    color: $color-deep-sky-blue;
  }

  &:focus-visible {
    outline: 1px solid $color-deep-sky-blue;
    outline-offset: 2px;
  }

  &:active {
    opacity: 0.7;
  }
}
