.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;

  @include vp-1439 {
    padding: 0 calc(50 / 1420) *100%;
  }

  @include vp-1023 {
    max-width: 770px;
    padding: 0 calc(50 / 770) *100%;
  }

  @include vp-320 {
    width: 320px;
    padding: 0 25px;
  }
}
